body{
	font-family: 'Roboto', sans-serif;
}
.heading{
  padding-top: 20px;
}
.formbody{
  background-color: rgb(204, 201, 201);
  margin: 40px auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 40px;
}
#description{
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}

#labels, .labels, #name-label, #email-label, #number-label{
  display: inline-block;
	text-align: right;
	width: 40%;
	padding: 4px;
	vertical-align: top;
	margin-top: 8px;
}
#email, #name, #number, #text_area{
	display: inline-block;
	width: 50%;
}

#dropdown{
     display: inline-block;
     width: 30%;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 9px;
  margin-top: 4px;
}

.rightSideStyle {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: top;
  margin-top: 15px;
}

.checkbox, .radio {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}
button{
margin-left: -50px;

}
#text_area{
  margin-bottom: 30px;
}
@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}
@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightSideStyle {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}